@import "../../css_config/mixins.scss";

.header-content {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo,
  .nav-links,
  .right-section {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .logo {
    width: 25px;
    img {
      width: 100%;
    }
    h1 {
      font-size: 1rem;
      @include md {
        font-size: 1.2rem;
      }
    }
    @include md {
      width: 75px;
    }
  }
  .nav-links {
    list-style-type: none;
    font-size: 1rem;
    display: none;
    @include md {
      display: flex;
    }
  }
  .right-section {
    display: flex;
    align-items: center;
    gap: 5px;
    .search-box {
      width: 100px;
      background-color: white;
      border-radius: 10px;
      padding-left: 8px;
      display: flex;
      align-items: center;
      @include md {
        width: 250px;
      }
      input {
        width: 90%;
        height: 30px;
        border: none;
        outline: none;
        padding-left: 5px;
      }
    }
    .cart {
      display: flex;
      align-items: center;
      gap: 10px;
      button {
        cursor: pointer;
        background-color: white;
        border: none;
        border-radius: 10px;
        padding: 6px 10px;
        span {
          margin-right: 5px;
          color: greenyellow;
          svg {
            color: greenyellow;
          }
        }
      }
    }
  }
}
